.hero
{
    background-image: url("https://yalematta.dev/assets/img/studying.jpg");
    height: 800px;
    background-position: center;
     background-repeat: no-repeat;
  background-size:cover;
}
.container
{
    /* padding-top: 5%; */
    color:maroon;
    padding-left: 20%;
    font-weight: 400;
}
.work
{
background-color: black;
font-weight: 400;
font-size: 80px;
text-align: center;
color: white;

}
.work .you
{
   font-size: 96px;

}
img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cardcontainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    grid-gap:20px;

}
.cardimg
{
    
    height: 200px;
}
.card{
    height:400px;
    max-width:340px;
    display: grid;
    border: 1px solid;
    grid-template-columns: (auto-fit, minmax(340px, 1fr));
    box-shadow: 10px 10px 10px #888888;
    border-radius: 10px;
   /* place-items: center; */
}
.card:hover{
box-shadow: 5px 5px 5px 5px red;

}

.app:hover{
    box-shadow: 5px 5px 5px 5px red;
    
    }
    .ux:hover{
        box-shadow: 5px 5px 5px 5px red;
        
        }
.card h3{
    margin: 15px;
}
.card p{
    margin: 15px;
}
.app
{
    height:400px;
    max-width:340px;
    display: grid;
    border: 1px solid;
    grid-template-columns: (auto-fit, minmax(340px, 1fr));
    box-shadow: 10px 10px 10px #888888;
    border-radius: 10px;
    place-items: center;
}
.app h3
{
margin: 15px;
}
.app p{
    margin:15px;
}
.ux
{
    height:400px;
    max-width:340px;
    display: grid;
    border: 1px solid;
    grid-template-columns: (auto-fit, minmax(340px, 1fr));
    box-shadow: 10px 10px 10px #888888;
    border-radius: 10px;
    place-items: center;
   
}
.ux h3 
{
margin: 15px;
}
.ux p{
margin: 15px;
}
.bottom
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.contact
{
    background-color:greenyellow;
    max-width: 340px;
    margin: 30px;

}
.contact:hover{
    background-color: aquamarine;
    box-shadow: 5px 5px 5px 5px gray;
}
.about
{
    background-color:maroon;
    max-width: 340px;
    margin: 30px;
    
}
.about:hover{
    background-color: aquamarine;
    box-shadow: 5px 5px 5px 5px gray;
}
@media only screen and (max-width: 786px) {
    .work {
        max-height: 25vh;
        font-size: 24px;
        
    }
    .bottom {
        flex-direction: column;
    }
    .about{
        max-width: max-content;
        margin: 0px;
    }
    .contact{
        max-width: max-content;
        margin: 0px;
        margin-top: 40px;
    }
  }